<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
    <table *ngIf="!isLoading" class="table table-dark" style="background-color: #3e5871;">
      <thead>
      <tr>
        <th *ngFor="let column of columns ">{{column }}</th>
      </tr>
      </thead>
      <tbody>
    
      <tr *ngFor="let item of items">
          <td *ngFor="let key of keys">
            <span *ngIf="item[key] === 'Active'" class="badge badge-success">{{item[key]}}</span>
            <span *ngIf="item[key] === 'Inactive'" class="badge badge-danger">{{item[key]}}</span>
            <span *ngIf="item[key] === 'Distributed'" class="badge badge-success">{{item[key]}}</span>
            <span *ngIf="item[key] === 'Calculated'" class="badge badge-warning">{{item[key]}}</span>
            <span *ngIf="item[key] !== 'Inactive' && item[key] !== 'Active' && item[key] !== 'Distributed' && item[key] !== 'Calculated'">{{item[key]}}</span>
          </td>
        </tr>
        <tr *ngIf="page_total_bv || page_total_bp || page_total_income || grand_deduct_amount">
          <td  [attr.colspan]="colspan" style="text-align: right;color: #fff;text-transform: uppercase;padding: 16px;"><strong>Total : </strong></td>
          <td *ngIf="page_total_bv" style="color: #fff;text-transform: uppercase;padding: 16px;">{{page_total_bv }} </td>
          <td *ngIf="page_total_bp" style="color: #fff;text-transform: uppercase;padding: 16px;">{{page_total_bp }} </td>
          <td *ngIf="page_total_income" style="color: #fff;text-transform: uppercase;padding: 16px;">{{page_total_income }} </td>
          <td *ngIf="grand_deduct_amount && grand_total_income" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_total_income }} </td>
          <td *ngIf="grand_deduct_amount" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_deduct_amount }} </td>
          <td *ngIf="grand_net_amount" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_net_amount }} </td>
          
        </tr>
        <tr *ngIf="grand_total_bv ||grand_total_bp||(grand_total_income && !grand_deduct_amount) ">
          <td  [attr.colspan]="colspan" style="text-align: right;color: #fff;text-transform: uppercase;padding: 16px;"><strong>Grand Total : </strong></td>
          <td *ngIf="grand_total_bv" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_total_bv }} </td>
          <td *ngIf="grand_total_bp" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_total_bp }} </td>
          <td *ngIf="!grand_deduct_amount" style="color: #fff;text-transform: uppercase;padding: 16px;">{{grand_total_income }} </td>
        </tr>
       
        
      
      <tr *ngIf="!isLoading && !items || !isLoading && items.length == 0">
        <td colspan="6">
           No Data Found
        </td>
      </tr>
      </tbody>
    </table>