
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th *ngFor="let column of columns ">{{column}}</th>
      </tr>
      </thead>
      <tbody>
      <!-- <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
      <tr *ngFor="let item of items ">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.surname}}</td>
          <td>{{item.social}}</td>
        </tr>
      </tbody>
    </table>