<div class="row">
    
    <!-- [ dark-table ] end -->
    <!-- [ striped-table ] start -->
    <div class="col-xl-12">
      <app-card cardTitle="Striped Table" blockClass="table-border-style" (openModal)="showModal()">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <!-- <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr> -->
            <tr *ngFor="let item of items | slice: (defaultPage-1) * itemsPerPage : defaultPage * itemsPerPage">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.social}}</td>
              </tr>
            </tbody>
          </table>
      <ngb-pagination [collectionSize]="items.length" [(page)]="defaultPage" [(pageSize)]="itemsPerPage" aria-label="Default pagination"></ngb-pagination>
      <app-ui-modal #modalDefault>
        <div class="app-modal-header">
          <h5 class="modal-title">Modal Title</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body">
          <p>Woohoo, you're reading this text in a modal!</p>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </app-ui-modal>
        </div>
      </app-card>
    </div>
    <!-- [ striped-table ] end -->
    <!-- [ Contextual-table ] start -->
    <!-- <div class="col-md-6">
      <app-card cardTitle="Contextual Classes" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr class="table-success">
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="table-warning">
              <td>5</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="table-danger">
              <td>7</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="table-info">
              <td>9</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div> -->
    <!-- [ Contextual-table ] end -->
    <!-- [ Background-Utilities ] start -->
    <!-- <div class="col-md-6">
      <app-card cardTitle="Background Utilities" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table table-dark">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-primary">
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr class="bg-success">
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="bg-warning">
              <td>5</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="bg-danger">
              <td>7</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="bg-info">
              <td>9</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div> -->
    <!-- [ Background-Utilities ] end -->
  </div>