<div class="row">
    <div class="col-xl-12">
      <!-- <app-card cardTitle="Product View" forModal="modal"  blockClass="table-border-style" (openModal)="showModal()"> -->
        <button style="padding: 3px 14px;float: right;margin-top: -42px;" type="button" class="btn btn-primary" (click)="showModal()">Search</button>
        <div class="table-responsive">
          <app-listing [items] = "items" [columns]="columns"></app-listing>
          <ngb-pagination [maxSize]="5" [boundaryLinks]="true" [collectionSize]="total" [(page)]="defaultPage" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
          <app-search-modal *ngIf="showModals" 
                  (closeModal)="hideModals($event)" 
                  title="Product View" [date]="date" [member]="member" [upliner]="upliner"
                  [introducer]="introducer" [side]="side" [invoiceno]="invoiceno" 
                  [amount]="amount" [productcode]="productcode" [sidesItem]="sides"></app-search-modal>
        </div>
      <!-- </app-card> -->
    </div>
  </div>