<div class="row">
    <div class="col-xl-12">
      <!-- <app-card cardTitle="Member View Direct" forModal="modal"  blockClass="table-border-style" (openModal)="showModal()"> -->
        
        <div class="table-responsive mb-3">
          <app-listing [items] = "items" [keys]="keys" [columns]="columns"></app-listing>
          <app-search-modal *ngIf="showModals" 
                  (closeModal)="hideModals($event)"
                  (sendSearchData)="getSearchData($event)" 
                  title="Member View Direct" [date]="date" [member]="member" [upliner]="upliner"
                  [introducer]="introducer" [side]="side" [invoiceno]="invoiceno" 
                  [amount]="amount" [productcode]="productcode" [sidesItem]="sides"></app-search-modal>
        </div>
        <ngb-pagination *ngIf="total>0" [maxSize]="5" [pageSize]="perpage" [boundaryLinks]="true" [collectionSize]="total" [(page)]="defaultPage" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>

      <!-- </app-card> -->
    </div>
  </div>