<div class="row">
    <div class="col-xl-12">
      <!-- <app-card cardTitle="Retail Package Invoice" forModal="modal"  blockClass="table-border-style" (openModal)="showModal()"> -->
        <button style="padding: 3px 14px;float: right;margin-top: -42px;" type="button" class="btn btn-primary" (click)="showModal()">Search</button>
        
        <div class="table-responsive mb-3">
          <app-listing [items] = "items" [keys]="keys" [columns]="columns"
          [page_total_income] = "page_total_income" [grand_total_income]="grand_total_income"
          [page_total_bv]="page_total_bv" [grand_total_bv]="grand_total_bv"></app-listing>
          <app-search-modal *ngIf="showModals" 
                  (closeModal)="hideModals($event)" 
                  (sendSearchData)="getSearchData($event)"
                  [title]="title"  
                  [date]="date" [member]="member" [upliner]="upliner" [introducer]="introducer"
                  [side]="side" [sidesItem]="sides" [invoiceno]="invoiceno" [amount]="amount" 
                   ></app-search-modal>
        </div>
        <ngb-pagination *ngIf="total>0" [pageSize]="perpage" [maxSize]="5" [boundaryLinks]="true" [collectionSize]="total" [(page)]="defaultPage" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>

      <!-- </app-card> -->
    </div>
  </div>