<app-alert type="success" *ngIf="!loggedin" dismiss="true">{{userData.message}}</app-alert>
<div class="row c-row" >
  <div class="col-lg-4 c-pad" (click)="redirect('/Commission/monthly income')">
    <div class="card text-white c-bg ">
      <div class="card-body">
        <div class="card-wrap d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </div>
            <div class="card-des">
              <h5 class="card-title text-white">Retail Income</h5>
        <p class="card-text">Rs {{memberIncomeData?.total_repurchase_income}} /-</p>
        <div><ngb-progressbar type="success" [value]="55"></ngb-progressbar></div> 
            </div>

        </div>
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 c-pad" (click)="redirect('/Commission/Weekly Income')">
    <div class="card text-white c-bg ">      
      <div class="card-body">
        <div class="card-wrap d-flex align-items-center">
          <div class="card-icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
        <div class="card-des">
        <h5 class="card-title text-white"> Team Bonus</h5>
        <p class="card-text">Rs {{memberIncomeData?.total_repurchase_binary_income}} /-</p>
        <div><ngb-progressbar [value]="40"></ngb-progressbar></div>
       </div>
       </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 c-pad" (click)="redirect('/commission/first-purchase-income')">
    <div class="card text-white c-bg ">      
      <div class="card-body">
        <div class="card-wrap d-flex align-items-center">
          <div class="card-icon">
            <i class="fa fa-money" aria-hidden="true"></i>
          </div>
        <div class="card-des">
        <h5 class="card-title text-white"> First Purchase Income</h5>
        <p class="card-text">Rs {{memberIncomeData?.total_first_purchase_income}} /-</p>
        <div><ngb-progressbar type="danger" [value]="80"></ngb-progressbar></div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-3">
    <div class="card text-white c-bg ">
      
      <div class="card-body">
        <h5 class="card-title text-white"> Team Consistancy Income</h5>
        <p class="card-text">Rs {{memberIncomeData?.total_consistancy_income}} /-</p>
        <div><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></div>
      </div>
    </div>
  </div> -->
  </div>
  <div class="row c-row">
    <div class="col-lg-8 c-pad" >
      <div class="chart-graph" style="height: 100%;">
      <app-card cardTitle="Monthly Commission Comparison" [options]="false" >
        
        <app-apex-chart  *ngIf="dataGraph"  chartID="bar-chart-2-cac" (changedData)="changeData($event)" [dropdownchange]="dropdownchange" [chartConfig]="dataGraph" [type]="yearly"></app-apex-chart>
      </app-card>
    </div>
    </div>
    <div class="col-lg-4 c-pad" (click)="redirect('/wallet/transaction/retail')">
      <div class="box-alighnment">
      <div class="card text-white box-1 c-bg">
        <div class="card-body">
          <div class="card-wrap d-flex align-items-center">
            <div class="card-icon">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            </div>
          <div class="card-des">
          <h5 class="card-title text-white">Retail Wallet Balance</h5>
          <p class="card-text">Rs {{memberWalletData?.rp_balance}} /-</p>
          <div><ngb-progressbar [value]="40"></ngb-progressbar></div>
            </div>
            </div>
        </div>
      </div>
    <div class="card text-white box-1 c-bg" (click)="redirect('/wallet/transaction/first_wallet')">
      <div class="card-body">
        <div class="card-wrap d-flex align-items-center">
          <div class="card-icon">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </div>
        <div class="card-des">
        <h5 class="card-title text-white">First Purchase Wallet Balance</h5>
        <p class="card-text">Rs {{memberWalletData?.fp_balance}} /-</p>
        <div><ngb-progressbar type="danger" [value]="80"></ngb-progressbar></div>
          </div>
          </div>
      </div>
    </div>
    <div class="card bg-light box-1 c-bg" (click)="redirect('/Commission/Weekly Income')">
      <div class="card-body">
        <div class="card-wrap d-flex align-items-center">
          <div class="card-icon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
        <div class="card-des">
        <h5 class="card-title">Credit Wallet Balance</h5>
        <p class="card-text">Rs {{memberWalletData?.cr_balance}} /-</p>
        <div><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></div>
        </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

<div class="row caarosel team-list">
<div class="col-lg-12">
  <ngx-slick-carousel class="carousel slick-class" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let member of directMember" class="slide">
<img src="{{ member.profile_image }}" alt=""  class="img-radius wid-75 m-auto align-top text-center" style="border:1px solid rgb(51, 115, 158)">
<div>
  <h6 style="text-align: center;">{{member?.name}}</h6>
  <p class="text-muted" style="text-align: center;">{{member?.mem_code}}</p>
  <!-- <p class="text-muted m-b-0" style="text-align: center;">{{member?.mobile}}</p> -->
</div>
</div>
</ngx-slick-carousel>
</div>
</div>

<div class="row c-row">
<div class=" b-chart chart-graph col-sm-8 col-lg-8 c-pad">
  <app-card cardTitle="First Purchase Commission Comparison" [options]="false" class="update-chart">
    <app-apex-chart chartID="pie-chart-1-cac" [chartConfig]="bar2CAC" (changedDataMonthly)="changeDataMonthly($event)" [dropdownchangeMonthly]="dropdownchangeMonthly" [type]="monthly"></app-apex-chart>
  </app-card>
</div>
<div class="col-sm-4 col-lg-4 c-pad">
  <app-card cardClass="latest-update-card" class="update-rank">
  <ngx-slick-carousel class="carousel timeline-slider" 
  #slickModal="slick-carousel" 
  [config]="slideConfig1" 
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let rank of rankMember" class="slide">
    <div class="latest-update-box">
      <div class="row p-t-30 p-b-30 align-items-center">
        <div class="col income-month">
          <a href="javascript:">
            <h6>{{rank?.income_year}}</h6>
          </a>
          <p class="text-muted m-b-0">{{rank?.income_month}}</p>
         
        </div>
        <div class="col-auto text-left update-meta">
          <i class="fas fa-long-arrow-alt-right"></i>
            <p class="img-radius wid-95 m-auto align-middle">{{rank?.rank_name}}</p>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
  </app-card>

</div>
    <!-- <div class="col-sm-12">
      <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig1" 
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let rank of rankMember" class="slide">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">{{rank?.income_month}}</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>{{rank?.income_year}}</h6>
            </a>
            <p class="text-muted m-b-0">{{rank?.rank_name}}</p>
          </div>
        </div>
        </div>
    </div>
    </ngx-slick-carousel>
    </div> -->
</div>