.report{
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 20px;
    border: solid 2px #333;
}
.tableSmall {
    margin: 0;
    padding: 10px;
    border-collapse: collapse;
}
.no_data{
    background: #2c3e50;
    font-size: 12px;
    line-height: 6px;
    color: #b5b5b5;
    padding: 15px;
}
.tableSmall td {
    font: normal 12px/15px "Times New Roman", Times, serif;
    color: #000;
    margin: 0 0 0 0;
    border: solid 1px #000;
    padding: 3px 5px;
}