span{
    color:white;
}
#selectBox{
    text-align: right;
}
select{
    background: rgb(39, 56, 73);
    color: white;
    padding: 6px;
    border: none;
}
.apexcharts-legend-series{
    display: inline-block;
}
.color-box{
    height: 33px;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    margin-left: 12px;
}