<div class="row">
    <div class="col-xl-12">
      <!-- <app-card cardTitle="Re-Purchase Income" forModal="modal"  blockClass="table-border-style" (openModal)="showModal()"> -->
        <button style="padding: 3px 14px;float: right;margin-top: -42px;" type="button" class="btn btn-primary" (click)="showModal()">Search</button>
        
        <div class="table-responsive">
          <app-listing [items] = "items" [keys]="keys" [columns]="columns" [page_total_income]="page_total_income" [grand_total_income]="grand_total_income"></app-listing>
          <ngb-pagination *ngIf="total>0" [pageSize]="perpage" [maxSize]="5" [boundaryLinks]="true" [collectionSize]="total" [(page)]="defaultPage" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
          <app-search-modal *ngIf="showModals" 
                  (closeModal)="hideModals($event)" 
                  (sendSearchData)="getSearchData($event)"
                  title="Re-Purchase Income" [incometype]="incometype" 
                  [date]="date" [status]="status"
                  [incomeTypeItems]="incomeTypeItems" [statusItems]="statusItems"></app-search-modal>
        </div>
      <!-- </app-card> -->
    </div>
  </div>
