<div class="row">
  <div class="col-xl-12">
    <button style="padding: 3px 14px;float: right;margin-top: -42px;" type="button" class="btn btn-primary" (click)="showModal()">Search</button>
</div>
</div>
<div class="d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  </div>
  <app-search-modal *ngIf="showModals" 
  (closeModal)="hideModals($event)" 
  (sendSearchData)="getSearchData($event)"
  [title]="title" member="true" ></app-search-modal>
  <div class="row">
  <ul class="tree">
    <li *ngIf="treeData.length"> 
        <div class="tree-item" >
            <img src="{{treeData[0][2]}}" (click)="fetchdata(treeData[0][1])" [ngStyle]="{'border': '2px '+ treeData[0][4] + treeData[0][3]}" >
            <span class="tree-box" (click)="binaryTreeGraph(treeData[0])">{{treeData[0][0]}}<br/>
              {{treeData[0][1]}}</span>
        </div>
      <ul>
        <li> 
            <div class="tree-item" *ngIf="treeData[1]; else content_1" >
                <img src="{{treeData[1][2]}}"  (click)="fetchdata(treeData[1][1])" [ngStyle]="{'border': '2px '+ treeData[1][4] + treeData[1][3]}">
                <span class="tree-box" (click)="binaryTreeGraph(treeData[1])">{{treeData[1][0]}}<br/>
                  {{treeData[1][1]}}</span>
            </div>
            <ng-template class="tree-item" #content_1 >
              <div class="tree-item">
                <img src="assets/images/blankprofile.jpeg">
                <span class="tree-box" (click)="binaryTreeGraph(treeData[0],'L')">Add Member<br/></span>
              </div>
            </ng-template>
          <ul>
            <li> 
                <div class="tree-item" *ngIf="treeData[3];else content_2">
                    <img src="{{treeData[3][2]}}" (click)="fetchdata(treeData[3][1])" [ngStyle]="{'border': '2px '+ treeData[3][4] + treeData[3][3]}">
                    <span class="tree-box" (click)="binaryTreeGraph(treeData[3])">{{treeData[3][0]}}<br/>
                      {{treeData[3][1]}}</span>
                </div>
                <ng-template class="tree-item" #content_2 >
                  <div class="tree-item">
                    <img src="assets/images/blankprofile.jpeg">
                    <span class="tree-box" *ngIf="treeData[1];" (click)="binaryTreeGraph(treeData[1],'L')">Add Member<br/></span>
                    <span class="tree-box" *ngIf="!treeData[1];">Empty</span>
                  </div>
                </ng-template>
              <ul>
                <li >
                    <div class="tree-item" *ngIf="treeData[7];else content_3">
                        <img src="{{treeData[7][2]}}"  (click)="fetchdata(treeData[7][1])" [ngStyle]="{'border': '2px '+treeData[7][4] + treeData[7][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[7])">{{treeData[7][0]}}<br/>
                          {{treeData[7][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_3 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[3];" (click)="binaryTreeGraph(treeData[3],'L')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[3];">Empty</span>
                      </div>
                    </ng-template>
                </li>
                <li>
                    <div class="tree-item" *ngIf="treeData[8];else content_4">
                        <img src="{{treeData[8][2]}}" (click)="fetchdata(treeData[8][1])" [ngStyle]="{'border': '2px '+treeData[8][4] + treeData[8][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[8])">{{treeData[8][0]}}<br/>
                          {{treeData[8][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_4 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[3];" (click)="binaryTreeGraph(treeData[3],'R')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[3];">Empty</span>
                      </div>
                    </ng-template>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item"  *ngIf="treeData[4];else content_5">
                    <img src="{{treeData[4][2]}}" (click)="fetchdata(treeData[4][1])" [ngStyle]="{'border': '2px '+treeData[4][4] + treeData[4][3]}">
                    <span class="tree-box" (click)="binaryTreeGraph(treeData[4])">{{treeData[4][0]}}<br/>
                      {{treeData[4][1]}}</span>
                </div>
                <ng-template class="tree-item" #content_5 >
                  <div class="tree-item">
                    <img src="assets/images/blankprofile.jpeg">
                    <span class="tree-box" *ngIf="treeData[1];" (click)="binaryTreeGraph(treeData[1],'R')">Add Member<br/></span>
                    <span class="tree-box" *ngIf="!treeData[1];">Empty</span>
                  </div>
                </ng-template>
              <ul>
                <li>
                    <div class="tree-item"  *ngIf="treeData[9];else content_6">
                        <img src="{{treeData[9][2]}}" (click)="fetchdata(treeData[9][1])" [ngStyle]="{'border': '2px '+treeData[9][4] + treeData[9][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[9])">{{treeData[9][0]}}<br/>
                          {{treeData[9][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_6 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[4];" (click)="binaryTreeGraph(treeData[4],'L')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[4];">Empty</span>
                  </div>
                    </ng-template>
                </li>
                <li>
                    <div class="tree-item" *ngIf="treeData[10];else content_7">
                        <img src="{{treeData[10][2]}}" (click)="fetchdata(treeData[10][1])" [ngStyle]="{'border': '2px '+treeData[10][4] + treeData[10][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[10])">{{treeData[10][0]}}<br/>
                          {{treeData[10][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_7 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[4];" (click)="binaryTreeGraph(treeData[4],'R')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[4];">Empty</span>
                      </div>
                    </ng-template>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li> 
            <div class="tree-item" *ngIf="treeData[2];else content_8"> 
                <img src="{{treeData[2][2]}}" (click)="fetchdata(treeData[2][1])" [ngStyle]="{'border': '2px '+treeData[2][4] + treeData[2][3]}">
                <span class="tree-box" (click)="binaryTreeGraph(treeData[2])">{{treeData[2][0]}}<br/>
                  {{treeData[2][1]}}</span>
            </div>
            <ng-template class="tree-item" #content_8 >
              <div class="tree-item">
                <img src="assets/images/blankprofile.jpeg" >
                <span class="tree-box" (click)="binaryTreeGraph(treeData[0],'R')">Add Member<br/></span>
              </div>
            </ng-template>
          <ul>
            <li> 
                <div class="tree-item"  *ngIf="treeData[5];else content_9">
                    <img src="{{treeData[5][2]}}" (click)="fetchdata(treeData[5][1])" [ngStyle]="{'border': '2px '+treeData[5][4] + treeData[5][3]}">
                    <span class="tree-box" (click)="binaryTreeGraph(treeData[5])">{{treeData[5][0]}}<br/>
                      {{treeData[5][1]}}</span>
                </div>
                <ng-template class="tree-item" #content_9 >
                  <div class="tree-item">
                    <img src="assets/images/blankprofile.jpeg" >
                    <span class="tree-box" *ngIf="treeData[2];" (click)="binaryTreeGraph(treeData[2],'L')">Add Member<br/></span>
                    <span class="tree-box" *ngIf="!treeData[2];">Empty</span>
                  </div>
                </ng-template>
              <ul>
                <li>
                    <div class="tree-item"  *ngIf="treeData[11];else content_10">
                        <img src="{{treeData[11][2]}}" (click)="fetchdata(treeData[11][1])" [ngStyle]="{'border': '2px '+treeData[11][4] + treeData[1][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[11])">{{treeData[11][0]}}<br/>
                          {{treeData[11][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_10 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[5];" (click)="binaryTreeGraph(treeData[5],'L')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[5];">Empty</span>
                      </div>
                    </ng-template>
                </li>
                <li>
                    <div class="tree-item"  *ngIf="treeData[12];else content_11">
                        <img src="{{treeData[12][2]}}" (click)="fetchdata(treeData[12][1])" [ngStyle]="{'border': '2px '+treeData[12][4] + treeData[12][3]}">
                        <span class="tree-box"  (click)="binaryTreeGraph(treeData[12])">{{treeData[12][0]}}<br/>
                          {{treeData[12][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_11 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[5];" (click)="binaryTreeGraph(treeData[5],'R')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[5];">Empty</span>
                      </div>
                    </ng-template>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item" *ngIf="treeData[6];else content_12">
                    <img src="{{treeData[6][2]}}" (click)="fetchdata(treeData[6][1])" [ngStyle]="{'border': '2px '+treeData[6][4] + treeData[6][3]}">
                    <span class="tree-box" (click)="binaryTreeGraph(treeData[6])">{{treeData[6][0]}}<br/>
                      {{treeData[6][1]}}</span>
                </div>
                <ng-template class="tree-item" #content_12 >
                  <div class="tree-item">
                    <img src="assets/images/blankprofile.jpeg">
                    <span class="tree-box" *ngIf="treeData[2];" (click)="binaryTreeGraph(treeData[2],'R')">Add Member<br/></span>
                    <span class="tree-box" *ngIf="!treeData[2];">Empty</span>
                  </div>
                </ng-template>
              <ul>
                <li>
                    <div class="tree-item"  *ngIf="treeData[13];else content_13">
                        <img src="{{treeData[13][2]}}" (click)="fetchdata(treeData[13][1])" [ngStyle]="{'border': '2px '+treeData[13][4] + treeData[13][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[13])">{{treeData[13][0]}}<br/>
                          {{treeData[13][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_13 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg">
                        <span class="tree-box" *ngIf="treeData[6];" (click)="binaryTreeGraph(treeData[6],'L')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[6];">Empty</span>
                      </div>
                    </ng-template>
                </li>
                <li>
                    <div class="tree-item"  *ngIf="treeData[14];else content_14">
                        <img src="{{treeData[14][2]}}" (click)="fetchdata(treeData[14][1])" [ngStyle]="{'border': '2px '+treeData[14][4] + treeData[14][3]}">
                        <span class="tree-box" (click)="binaryTreeGraph(treeData[14])">{{treeData[14][0]}}<br/>
                          {{treeData[14][1]}}</span>
                    </div>
                    <ng-template class="tree-item" #content_14 >
                      <div class="tree-item">
                        <img src="assets/images/blankprofile.jpeg" >
                        <span class="tree-box" *ngIf="treeData[6];" (click)="binaryTreeGraph(treeData[6],'R')">Add Member<br/></span>
                        <span class="tree-box" *ngIf="!treeData[6];">Empty</span>
                      </div>
                    </ng-template>
                </li>
              </ul>
            </li>
          </ul>
        </li>
       
      </ul>
    </li>
    
    <app-ui-modal #modalDefault class="binary-modal">
      
        <div class="app-modal-header">
          <h5 class="modal-title">{{modalData.Member_Name}}</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body" style="overflow: auto">
          <table class="table table_small" style="margin-bottom: 0px !important;">
            <tbody>
             
              
              <tr>
                <td><strong>DOR</strong></td><td>{{modalData.DOR}}</td>
                <td><strong>DOA</strong></td><td>{{modalData.DOA}}</td>
              </tr>
              
              <tr>
                <td><strong>Rank</strong></td><td>{{modalData.Rank}}</td>
                <td><strong>Current Rank</strong></td><td>{{modalData.Current_Rank}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Associate A Team</strong></td><td>{{modalData.Total_Associate_A_Team}}</td>
                <td><strong>Total Associate B Team</strong></td><td>{{modalData.Total_Associate_B_Team}}</td>
              </tr>
              
              <tr>
                <td><strong>Active Associate A Team</strong></td><td>{{modalData.Active_Associate_A_Team}}</td>
                <td><strong>Active Associate B Team</strong></td><td>{{modalData.Active_Associate_B_Team}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Self Purchase BV</strong></td><td>{{modalData.Total_Self_Purchase_BV}}</td>
                <td><strong>Current Self Purchase BV</strong></td><td>{{modalData.Current_Self_Purchase_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Self Purchase Rs</strong></td><td>{{modalData.Total_Self_Purchase_Rs}}</td>
                <td><strong>Current Self Purchase Rs</strong></td><td>{{modalData.Current_Self_Purchase_Rs}}</td>
              </tr>
              
              <tr>
                <td><strong>Total A Team BV</strong></td><td>{{modalData.Total_A_Team_BV}}</td>
                <td><strong>Total B Team BV</strong></td><td>{{modalData.Total_B_Team_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV</strong></td><td>{{modalData.Current_A_Team_BV}}</td>
                <td><strong>Current B Team BV</strong></td><td>{{modalData.Current_B_Team_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV (RP)</strong></td><td>{{modalData.Current_A_Team_BV_RP}}</td>
                <td><strong>Current B Team BV (RP)</strong></td><td>{{modalData.Current_B_Team_BV_RP}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV (FP)</strong></td><td>{{modalData.Current_A_Team_BV_FP}}</td>
                <td><strong>Current B Team BV (FP)</strong></td><td>{{modalData.Current_B_Team_BV_FP}}</td>
              </tr>
              
              
              <tr>
                <td><strong>BP Purchase Status</strong></td><td>{{modalData.BP_Purchase_Status}}</td>
                <td><strong>Total BP Matching</strong></td><td>{{modalData.Total_BP_Matching}}</td>
              </tr>
              
              <tr>
                <td><strong>Left Active</strong></td><td>{{modalData.Left_Active}}</td>
                <td><strong>Right Active</strong></td><td>{{modalData.Right_Active}}</td>
              </tr>
              <tr>
                <td><strong>Total Left BP (P)</strong></td><td>{{modalData.Total_Left_BP_P}}</td>
                <td><strong>Total Right BP (P)</strong></td><td>{{modalData.Total_Right_BP_P}}</td>
              </tr>
              <tr>
                <td><strong>Current Left BP (P)</strong></td><td>{{modalData.Current_Left_BP_P}}</td>
                <td><strong>Current Right BP (P)</strong></td><td>{{modalData.Current_Right_BP_P}}</td>
              </tr>
              <tr>
                <td><strong>Carry Forward Left BP (P)</strong></td><td>{{modalData.Carry_Forward_Left_BP_P}}</td>
                <td><strong>Carry Forward Right BP (P)</strong></td><td>{{modalData.Carry_Forward_Right_BP_P}}</td>
              </tr>       
            </tbody>
          </table>
        </div>
      
    </app-ui-modal>
  </ul>
</div>
  <div style="text-align: center;" *ngIf="back_mem_code">
    <button  type="button" class="btn btn-secondary" (click)="get_back()" >
      <i class="fas fa-backward"></i>
    </button>
  </div>
  