<ul class="tree">
    <li> 
        <div class="tree-item" (click)="fetchdata('SH2276143')">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
            <span class="tree-box">SH2276143
                SHARFRAZ ALAM</span>
        </div>
      <ul>
        <li> 
            <div class="tree-item" (click)="fetchdata('SH8718412')">
                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                <span class="tree-box">SH8718412
                    ABHISHEK KUMAR</span>
            </div>
          <ul>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH4525899')">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                    <span class="tree-box">SH4525899<br/>
                        SHPL</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH7299676')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH7299676<br/>
                            SHPL</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH1507600')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH1507600<br/>
                            SHPL</span>
                    </div>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH9548636')">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                    <span class="tree-box">SH9548636<br/>
                        SHPL Block Id</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH8720358')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH8720358<br/>
                            SURAJ MALHOTRA</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH4603547')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH4603547<br/>SHPL</span>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li> 
            <div class="tree-item" (click)="fetchdata('SH5867417')">
                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                <span class="tree-box">SH5867417<br/>
                    SAARVASRI HERBS PVT LTD</span>
            </div>
          <ul>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH3258248')">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                    <span class="tree-box">SH3258248<br/>
                        SAARVASRI HERBS PVT. LTD.</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH1584287')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH1584287<br/>
                            SAARVASRI HERBS PRIVATE LIMITED
                            </span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH8287977')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH8287977<br/>
                            SHANTI DEVI
                            </span>
                    </div>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH2939663')">
                    <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                    <span class="tree-box">SH2939663<br/>
                        SAARVASRI</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH6295429')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH6295429<br/>
                            SAARVASRI HERBS PVT. LTD.</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH5531234')">
                        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
                        <span class="tree-box">SH5531234<br/>
                            SIB NARAYAN BADAIK</span>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
       
      </ul>
    </li>
    <app-ui-modal #modalDefault>
        <div class="app-modal-header">
          <h5 class="modal-title">Modal Title {{id}}</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body">
          <p>Woohoo, you're reading this text in a modal!</p>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </app-ui-modal>
  </ul>
  <!-- <app-ui-modal #modalDefault>
    <div class="app-modal-header">
      <h5 class="modal-title">Modal Title {{id}}</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
      <p>Woohoo, you're reading this text in a modal!</p>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </app-ui-modal> -->