<ul class="tree">
    <li *ngIf="treeData.length"> 
        <div class="tree-item" (click)="fetchdata('SH2276143')" >
            <img src="{{treeData[0][2]}}">
            <span class="tree-box">{{treeData[0][0]}}<br/>
              {{treeData[0][1]}}</span>
        </div>
      <ul>
        <li> 
            <div class="tree-item" (click)="fetchdata('SH8718412')" >
                <img src="{{treeData[1][2]}}">
                <span class="tree-box">{{treeData[1][0]}}<br/>
                  {{treeData[1][1]}}</span>
            </div>
          <ul>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH4525899')" >
                    <img src="{{treeData[3][2]}}">
                    <span class="tree-box">{{treeData[3][0]}}<br/>
                      {{treeData[3][1]}}</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH7299676')" >
                        <img src="{{treeData[7][2]}}">
                        <span class="tree-box">{{treeData[7][0]}}<br/>
                          {{treeData[7][1]}}</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH1507600')" >
                        <img src="{{treeData[8][2]}}">
                        <span class="tree-box">{{treeData[8][0]}}<br/>
                          {{treeData[8][1]}}</span>
                    </div>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH9548636')" >
                    <img src="{{treeData[4][2]}}">
                    <span class="tree-box">{{treeData[4][0]}}<br/>
                      {{treeData[4][1]}}</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH8720358')">
                        <img src="{{treeData[9][2]}}">
                        <span class="tree-box">{{treeData[9][0]}}<br/>
                          {{treeData[9][1]}}</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH4603547')" >
                        <img src="{{treeData[10][2]}}">
                        <span class="tree-box">{{treeData[10][0]}}<br/>
                          {{treeData[10][1]}}</span>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li> 
            <div class="tree-item" (click)="fetchdata('SH5867417')" > 
                <img src="{{treeData[2][2]}}">
                <span class="tree-box">{{treeData[2][0]}}<br/>
                  {{treeData[2][1]}}</span>
            </div>
          <ul>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH3258248')" >
                    <img src="{{treeData[5][2]}}">
                    <span class="tree-box">{{treeData[5][0]}}<br/>
                      {{treeData[5][1]}}</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH1584287')">
                        <img src="{{treeData[11][2]}}">
                        <span class="tree-box">{{treeData[11][0]}}<br/>
                          {{treeData[11][1]}}</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH8287977')" >
                        <img src="{{treeData[12][2]}}">
                        <span class="tree-box">{{treeData[12][0]}}<br/>
                          {{treeData[12][1]}}</span>
                    </div>
                </li>
              </ul>
            </li>
            <li> 
                <div class="tree-item" (click)="fetchdata('SH2939663')" >
                    <img src="{{treeData[6][2]}}">
                    <span class="tree-box">{{treeData[6][0]}}<br/>
                      {{treeData[6][1]}}</span>
                </div>
              <ul>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH6295429')" >
                        <img src="{{treeData[13][2]}}">
                        <span class="tree-box">{{treeData[13][0]}}<br/>
                          {{treeData[13][1]}}</span>
                    </div>
                </li>
                <li>
                    <div class="tree-item" (click)="fetchdata('SH5531234')" >
                        <img src="{{treeData[14][2]}}">
                        <span class="tree-box">{{treeData[14][0]}}<br/>
                          {{treeData[14][1]}}</span>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
       
      </ul>
    </li>
    <app-ui-modal #modalDefault >
        <div class="app-modal-header">
          <h5 class="modal-title">{{modalData.Member_Name}}</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body" style="overflow: auto">
          <table class="table table_small" style="margin-bottom: 0px !important;">
            <tbody>
              <tr>
                <td><strong>Member Name</strong></td>
                <td colspan="3">{{modalData.Member_Name}} </td>
              </tr>
              
              <tr>
                <td><strong>DOR</strong></td><td>{{modalData.DOR}}</td>
                <td><strong>DOA</strong></td><td>{{modalData.DOA}}</td>
              </tr>
              
              <tr>
                <td><strong>Rank</strong></td><td>{{modalData.Rank}}</td>
                <td><strong>Current Rank</strong></td><td>{{modalData.Current_Rank}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Associate A Team</strong></td><td>{{modalData.Total_Associate_A_Team}}</td>
                <td><strong>Total Associate B Team</strong></td><td>{{modalData.Total_Associate_B_Team}}</td>
              </tr>
              
              <tr>
                <td><strong>Active Associate A Team</strong></td><td>{{modalData.Active_Associate_A_Team}}</td>
                <td><strong>Active Associate B Team</strong></td><td>{{modalData.Active_Associate_B_Team}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Self Purchase BV</strong></td><td>{{modalData.Total_Self_Purchase_BV}}</td>
                <td><strong>Current Self Purchase BV</strong></td><td>{{modalData.Current_Self_Purchase_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Total Self Purchase Rs</strong></td><td>{{modalData.Total_Self_Purchase_Rs}}</td>
                <td><strong>Current Self Purchase Rs</strong></td><td>{{modalData.Current_Self_Purchase_Rs}}</td>
              </tr>
              
              <tr>
                <td><strong>Total A Team BV</strong></td><td>{{modalData.Total_A_Team_BV}}</td>
                <td><strong>Total B Team BV</strong></td><td>{{modalData.Total_B_Team_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV</strong></td><td>{{modalData.Current_A_Team_BV}}</td>
                <td><strong>Current B Team BV</strong></td><td>{{modalData.Current_B_Team_BV}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV (RP)</strong></td><td>{{modalData.Current_A_Team_BV_RP}}</td>
                <td><strong>Current B Team BV (RP)</strong></td><td>{{modalData.Current_B_Team_BV_RP}}</td>
              </tr>
              
              <tr>
                <td><strong>Current A Team BV (FP)</strong></td><td>{{modalData.Current_A_Team_BV_FP}}</td>
                <td><strong>Current B Team BV (FP)</strong></td><td>{{modalData.Current_B_Team_BV_FP}}</td>
              </tr>
              
              
              <tr>
                <td><strong>BP Purchase Status</strong></td><td>{{modalData.BP_Purchase_Status}}</td>
                <td><strong>Total BP Matching</strong></td><td>{{modalData.Total_BP_Matching}}</td>
              </tr>
              
              <tr>
                <td><strong>Left Active</strong></td><td>{{modalData.Left_Active}}</td>
                <td><strong>Right Active</strong></td><td>{{modalData.Right_Active}}</td>
              </tr>
              <tr>
                <td><strong>Total Left BP (P)</strong></td><td>{{modalData.Total_Left_BP_P}}</td>
                <td><strong>Total Right BP (P)</strong></td><td>{{modalData.Total_Right_BP_P}}</td>
              </tr>
              <tr>
                <td><strong>Current Left BP (P)</strong></td><td>{{modalData.Current_Left_BP_P}}</td>
                <td><strong>Current Right BP (P)</strong></td><td>{{modalData.Current_Right_BP_P}}</td>
              </tr>
              <tr>
                <td><strong>Carry Forward Left BP (P)</strong></td><td>{{modalData.Carry_Forward_Left_BP_P}}</td>
                <td><strong>Carry Forward Right BP (P)</strong></td><td>{{modalData.Carry_Forward_Right_BP_P}}</td>
              </tr>       
            </tbody>
          </table>
        </div>
        
      </app-ui-modal>
  </ul>
  